<div class="swiffy-slider {% if swiffy_autoplay !=false %} slider-nav-autoplay {% endif %}
{% if swiffy_autoplayPauseOnHover !=false %} slider-nav-autopause {% endif %} 
{{ classes|trim }}" 
id="{{ swiffy_id }}" {% if swiffy_autoplay and swiffy_autoplayTimeout|length > 0 %}data-slider-nav-autoplay-interval="{{ swiffy_autoplayTimeout }}"{% endif %}>
    <ul class="slider-container">
        {% for image in images %}
        <li>{{ image["image"]|raw }}</li>
        {% endfor %}
    </ul>

    <a role="button" class="slider-nav"></a>
    <a role="button" class="slider-nav slider-nav-next"></a>
    
    <div class="slider-indicators">
    {% for image in images %}
        <a role="button"></a>
    {% endfor %}
    </div>
</div>

